<h1>Generate#index</h1>
<p>Find me in app/views/generate/index.html.erb</p>

<input class="js_query"/>
<textarea class="js_feeds"></textarea>
<input class="js_created_url"/>


<script>
    $(function(){
        url_convert_setup(".js_query", ".js_feeds", ".js_created_url")
    });
</script>